@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Julius+Sans+One&display=swap&family=Cedarville+Cursive&display=swap');

:root {
    --main-bg-color: #E9F9FF;
  }

body {
    font-family: "Crimson Text", sans-serif;
}

.link-no-decor, .product-link {
    text-decoration: none;
    color: #252525;
}

button {
    border: none;
    border-radius: 18px;
    background-color: var(--main-bg-color);
    font-family: "Crimson Text", sans-serif;
    padding: 5px 15px;
    margin-bottom: 8px;
}

.section-title {
    text-align: center;
    padding: 30px 10px;
}

/* Navbar styles */
.brand {
    font-family: "Julius Sans One", sans-serif;
    font-size: 1.8vh;
    font-weight: 700;
    color: #4A4A4F;
}

.navbar {
    --bs-navbar-toggler-padding-x: 0.50rem;
    --bs-navbar-toggler-font-size: 1rem;
    padding: 5px 20px;
    background-color: var(--main-bg-color);
}

.navbar-toggler-icon {
    height: 1.2rem;
    width: 1.2rem;
}

.rsvp-title {
    font-family: "Cedarville Cursive", sans-serif;
    font-size: 80px;
    color: #0096C7;
}

/* Top section */
.top-section {
    
}

input {
    border: none;
    background-color: var(--main-bg-color);
}

.search-box {
    width: 250px;
    border: 1px solid #0096C7;
}

/* Footer */
footer {
    background-color: var(--main-bg-color);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.social-media-links i {
    font-size: 25px;
    padding: 0 5px;
}